.project.env
.bootstrap.env
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/tfplan
landing-zone/.fabric/
landing-zone/.fast.env
landing-zone/generated/
